{% extends "::adminlayaout.html.twig" %}

{% block titulo -%}Editar evento{% endblock %}
{% block body -%}




    <div class="panel panel-default">

        <div class="panel-body">
            {{ form_start(edit_form) }}

            {{ form_row(edit_form.Nombre) }}
            <br/>
            <input type="text" class="form-control"  name="NombreENG" />
            <br/>
            {{ form_row(edit_form.Descripcion) }}
            <br/>
            <textarea type="" class="form-control"  name="DescripcionENG"></textarea>
            <br/>
            {{ form_row(edit_form.Fichero) }}
            <br/>

            {{ form_row(edit_form.submit) }}

            {{ form_end(edit_form) }}

        </div>
    </div>



    <a href="{{ path('album') }}">
        <button class="btn btn-default">Back to the list</button>
    </a>

    {{ form(delete_form) }}






</ul>
{% endblock %}
