{% extends "::adminlayaout.html.twig" %}

{% block titulo -%}Servicio creation{% endblock %}
{% block body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Nuevo Servicio</h3>
    </div>
    <div class="panel-body">
    {{ form_start(form) }}

        {{ form_row(form.Nombre) }}
        <br/>
        <label>Nombre en Ingles</label>
        <input type="text" class="form-control" required="required" name="NombreENG"/>
        <br/>

        {{ form_row(form.Descripcion) }}
        <br/>

        <label>Descripcion en Ingles</label>
        <textarea class="form-control" required="required" name="DescripcionENG"></textarea>
        <br/>
        {{ form_row(form.Fichero) }}
        <br/>
        {{ form_row(form.Precio) }}
        <br/>
        {{ form_row(form.submit) }}

    {{ form_end(form) }}
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('servicio') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
