{% extends "::adminlayaout.html.twig" %}

{% block titulo -%}Servicio{% endblock %}
{% block body -%}


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idservicio</th>
                <td>{{ entity.idServicio }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.Nombre }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td><img src="{{ asset(entity.webPathFoto) }}" width="100" /></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('servicio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('servicio_edit', { 'id': entity.idServicio }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
