{% extends "::adminlayaout.html.twig" %}

{% block titulo -%}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Nuevo Servicio, Mobiliaria o Producto creation</h3>
        </div>
        <div class="panel-body">

            {{ form_start(form) }}
            {{ form_row(form.Nombre) }}
            <br/>
            {{ form_row(form.Precio) }}
            <br/>
            {{ form_row(form.Fichero) }}
            <br/>
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>



        <ul class="record_actions">
    <li>
        <a href="{{ path('smp') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
