{% extends "::adminlayaout.html.twig" %}

{% block titulo -%}Foto edit{% endblock %}
{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Nueva foto</h3>
    </div>

    <div class="panel-body">
        {{ form_start(edit_form) }}

        {{ form_row(edit_form.Fichero) }}
        <br/>
        {{ form_row(edit_form.Descripcion) }}

        <br/>
        <label>Descripcion en Ingles</label>
        <textarea class="form-control" required="required" name="DescripcionENG" ></textarea>
        <br/>
        {{ form_row(edit_form.Album) }}
        <br/>
        {{ form_label(edit_form.Fecha) }}
        <br/>
        {{ form_widget(edit_form.Fecha) }}
        <br/>
        <br/>
        {{ form_row(edit_form.submit) }}

        {{ form_end(edit_form) }}

    </div>

</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('foto') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
