{% extends "::adminlayaout.html.twig" %}

{% block titulo -%}Organismos{% endblock %}

{% block body -%}
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
            <tr>
                <th>IdOrganismos</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('organismo_show', { 'id': entity.idOrganismo }) }}">{{ entity.idOrganismo }}</a></td>
                    <td>{{ entity.Nombre }}</td>
                    <td>





                        <a href="{{ path('organismo_edit', { 'id': entity.idOrganismo }) }}"><button type="button" class="btn btn-default">edit</button></a>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>





            <a href="{{ path('organismo_new') }}">
                <button type="button" class="btn btn-primary">Create a new entry</button>
            </a>

    {% endblock %}
