<h4>El Bar Azul</h4>
<p>En este salón usted podrá disfrutar de un ambiente agradable y un servicio gastronómico  en ocasión de un evento social, cultural o de negocio, con una capacidad de 60 personas y decorado especialmente para el disfrute de un distinguido cliente, así como un pequeño bar  decorado con plantas ornamentales y cuadros que garantizan un ambiente armónico con iluminación y climatización  propicia para actividades de su grupo.</p>
<ul class="galeriaSmall">
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/01.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/02.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/02.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/02.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/03.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/02.jpg')  }}" alt=""/></a></li>

</ul>
<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>