<h4>Bar Rojo</h4>
<p>En este salón usted podrá disfrutar de un ambiente agradable y un servicio profesional en ocasión de un evento social, cultural o de negocio, con brindis y coctel con una capacidad de 24 personas desplegadas en 87.8 m2. En su interior se aprecian confortables juegos de muebles,  mesas y sillas para el disfrute de un distinguido servicio gastronómico, así como un pequeño bar  decorado con plantas ornamentales y cortinas rojas que garantizan un ambiente íntimo, iluminación y climatización  propicia para actividades de su grupo de negocios. </p>
<ul class="galeriaSmall">
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/10.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/10.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/11.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/11.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/12.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/12.jpg')  }}" alt=""/></a></li>

</ul>

<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>