<h4>Grand Stand &quot;Cremer&iacute;a&quot;</h4>
<p>En este salón usted podrá disfrutar de una ambientación agradable y un servicio esmerado en ocasión de un evento social o cultural, con servicio gastronómico incluido y una capacidad de 60 personas desplegadas en 116 m2. En su interior se aprecian excelentes  juegos de mesas y sillas, nevera expositiva para que pueda disfrutar de la más fresca bebida, así como baño y local para la preparación del servicio gastronómico que usted necesita y prefiere, con iluminación y climatización  propicia para  el disfrute de esta ocasión con su grupo de amigos o negocios.</p>
<ul class="galeriaSmall">
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/16.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/16.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/17.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/17.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/18.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/18.jpg')  }}" alt=""/></a></li>

</ul>

<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>