<h4>Restaurante El Montero</h4>
<p>Este es el salón que usted necesita para disfrutar de un ambiente agradable y un servicio gastronómico en ocasión de un evento social, cultural o de negocio, con una capacidad de 52 personas y decorado especialmente para el disfrute de un distinguido cliente, en su interior encontramos un bar y 3 áreas para reservado todas con iluminación y climatización propicia para actividades de su grupo de amigos.</p>
<ul class="galeriaSmall">
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/22.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/22.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/23.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/23.jpg')  }}" alt=""/></a></li>
    <li><a href="{{ asset('bundles/feriaagropecuariahome/images/tour/big/24.jpg')  }}" class="fotos"><img src="{{ asset('bundles/feriaagropecuariahome/images/tour/small/24.jpg')  }}" alt=""/></a></li>

</ul>


<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>