
<h4>Motel El Ganadero</h4>
<p>Este es un sitio para el alojamiento en ocasión de un viaje de trabajo a la capital donde el buen trato en el servicio y el clima agradable se unen para el disfrute de un cliente como usted. Con 52 camas de alto confort, climatización en las habitaciones, televisión, refrigerador, muy limpia lencería y servicio gastronómico .</p>
<ul class="galeriaSmall">
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/04.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/04.jpg") }}" alt="" /></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/05.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/05.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/06.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/06.jpg") }}" alt=""/></a></li>

</ul>


<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>
