<h4>Pabell&oacute;n 3</h4>
<p>Es un gran salón, especial para exposiciones, bodas, quinces  o  su actividad cultural o festiva, con una dimensión de 500m2 y capacidad de hasta 300 personas o más según el mobiliario a utilizar y con iluminación y climatización adecuada. Es decorado según su gusto o necesidad. </p>
<ul class="galeriaSmall">
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/16.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/16.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/17.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/17.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/18.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/18.jpg") }}" alt=""/></a></li>

</ul>
<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>