<h4>Pabell&oacute;n 5</h4>
<p>Es un gran salón, especial para exposiciones con una dimensión de 275m2 y divido en cubículos de 36m2  y  72 m2 con iluminación y climatización adecuada. </p>
<ul class="galeriaSmall">
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/16.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/16.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/17.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/17.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/18.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/18.jpg") }}" alt=""/></a></li>

</ul>
<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>