<h4>El Rodeo</h4>
<p>El Parque de Ferias y Exposiciones de Rancho Boyeros, denominación original del
    recinto ferial, surgió como parte del plan de desarrollo para la zona donde
    actualmente está ubicada y que se encontraba dentro de las obras públicas que se
    llevaron a cabo durante el gobierno de Gerardo Machado, y que en esta área se
    materializaban como parte de la urbanización concebida en 1928. El reparto debe
    su origen al haberse edificado, en su límite Norte, una casa de la real hacienda, en
    el año 1840, la cual se dedicaba al cobro del pasaje o derecho de transito a los
    vehículos que circulaban por el camino real del sur.</p>
<p> El sector que hoy conocemos como Municipio Boyeros fue hasta la mitad de los
    años veinte zona para la parada y tránsito de las carretas y los boyeros, para
    abonar el derecho de pasaje, que venían con sus mercancías y debían pasar por
    esta zona, por esto se construyó poco después una taberna, una fonda y posada
    y mas tarde varios ranchos.</p>
<ul class="galeriaSmall">
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/home/serv-stands/small/001.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/home/serv-stands/small/001.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/home/serv-stands/small/001.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/home/serv-stands/small/001.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/home/serv-stands/small/001.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/home/serv-stands/small/001.jpg") }}" alt=""/></a></li>

</ul>

<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>