<h4>Sal&oacute;n de Reuniones</h4>
<p>Este es el salón ideal para su reunión de negocios con un confort acorde a su gusto y necesidad,  donde podrán confluir hasta 40 personas en un ambiente agradable, iluminación y climatización adecuada. Amueblado con una gran mesa de cristal con sillas giratorias y el uso de la tecnología que usted necesita para exponer sus planes  y resultados de trabajo  lo cual se apoya en un personal altamente profesional y con vasta experiencia en los servicios. </p>
<ul class="galeriaSmall">
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/13.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/13.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/14.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/14.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/15.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/15.jpg") }}" alt=""/></a></li>

</ul>

<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>