<h4>Sal&oacute;n de Conferencias</h4>
<p>Este es el salón que usted necesita para una reunión de hasta 80 personas acá encontrará  confortables butacas fijas acolchonadas, 1 podio y 1 mesa presidencial,  iluminación y climatización propicia para  su actividad de negocios, además del uso de la tecnología que usted necesita para exponer sus planes  y resultados de trabajo  lo cual se apoya en un personal altamente profesional y con vasta experiencia en los servicios. Cuenta con una capacidad de 102m2. Posee además baño interior y le brindamos el servicio que usted precisa.</p>
<ul class="galeriaSmall">
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/19.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/19.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/20.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/20.jpg") }}" alt=""/></a></li>
    <li><a href="{{ asset("bundles/feriaagropecuariahome/images/tour/big/21.jpg") }}" class="fotos"><img src="{{ asset("bundles/feriaagropecuariahome/images/tour/small/21.jpg") }}" alt=""/></a></li>

</ul>

<script>
    $(document).ready(function(){
        $(".galeriaSmall a").colorbox({rel:'fotos', transition:"fade"});
    });
</script>